<!DOCTYPE html>
	<head> 
		<title> Keith the QB  </title>
		<link rel="stylesheet" type="text/css" href="test.css" style="color: white; font-weight:bold; font-size: 24px" />
		<link href='http://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
	</head>

<style>
div {
    border: 8px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
}
body{
    background-image: url('yourimage.png');
}
</style>


	<body>
		<div id = "Header">
			<h1> Keith the QB </h1>
		</div>	
<style>
#Header div {
    border: 8px solid black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
    text-align: center;
}
#Header h1{ font-size: 60px; font-family: "Passion One"; color: #FFBC00; font-weight: bold; }		
</style>

		<div id = "LeftNav">
			<h3> My Favorite Websites </h3>
			<ul>
				<li><a href="https://www.theverge.com" style="color: white; font-weight:bold; font-size: 24px">The Verge</a></li>
				<li><a href="https://www.surfline.com" style="color: white; font-weight:bold; font-size: 24px">Surfline</a></li>
				<li><a href="https://www.worldstarhiphop" style="color: white; font-weight:bold; font-size: 24px">WORLD STAR</a></li>
				<li><a href="https://www.amazon.com" style="color: white; font-weight:bold; font-size: 24px">Amazon</a></li>
				<li><a href="https://www.theonion.com" style="color: white; font-weight:bold; font-size: 24px">The Onion</a></li>
			</ul>
			<img src="icon.gif" width="350px" height="200px">
		</div>
<style>
ul {
			    list-style-type: none;
			    padding-left: 0px
}
#LeftNav h3{ font-size: 40px; font-family: "Passion One"; color: #FFBC00; margin-bottom: 0px; }		
</style>
<style>
#LeftNav div {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
    border:solid 8px black;
    padding-bottom: 8px;
    text-align:center;
    float:left;
}
</style>
		<div id = "Content">
			<p style="color: white; font-weight:bold; font-size: 24px"> This is Keith Price's number one Fan Site! He is a good leader, wins games, throws awesome passes, hits his targets, can run when he needs to, and has a cheesy smile. Huskies have been on point this season with a starting record of 4-0. The Huskies smashed Boise State, pummeled Illinois, dominated Idaho State, and ran all over Arizona. <br /><br /> <span id="bow">Bow Down to Washington!!</span></p>
			<img src="price.jpg">
		</div>
<style>
#Content div {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
    border:solid 8px black;
    padding-bottom: 15px;
    text-align: center;
}
</style>		

		<div id = "Footer">
			<h3>Connect With Me Online:</h3>
			<ul>
				<li><a href="https://www.Facebook.com" style="color: white; font-weight:bold; font-size: 24px">Facebook</a></li>
				<li><a href="https://www.Linkedin.com" style="color: white; font-weight:bold; font-size: 24px">Linked In</a></li>
				<li><a href="https://www.Spotify.com" style="color: white; font-weight:bold; font-size: 24px">Spotify Playlists</a></li>
			</ul>
			<p style="color: white; font-weight:bold; font-size: 24px">Copyright of Keith the QB</p>
		</div>

<style>
#Footer div {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
    border:solid 8px black;
    text-align:center;
    float:left;
}
ul {
    list-style-type: none;
    padding-left: 0px
}
#Footer h3{ font-size: 40px; font-family: "Passion One"; color: #FFBC00; margin-bottom: 0px; }		

</style>
	</body>

</html>
